/**
 * For use:
 * <div class="corner-ribbon top-left sticky red shadow">Ribbon TL</div>
 * <div class="corner-ribbon top-right sticky blue">Ribbon TR</div>
 * <div class="corner-ribbon bottom-left sticky orange">Ribbon BL</div>
 * <div class="corner-ribbon bottom-right sticky green shadow">Ribbon BR</div>
 * #withArtur|obiv.it
 */
/* The ribbons */
/* The ribbons */
.corner-ribbon {
	background: #e43 none repeat scroll 0 0;
	box-shadow: 0 -1px 5px #000000;
	color: #f0f0f0;
	left: -50px;
	letter-spacing: 1px;
	line-height: 50px;
	position: absolute;
	text-align: center;
	top: 25px;
	transform: rotate(-45deg);
	width: 200px;
	z-index: 9999;
	font-size: 15px;
}
/* Custom styles */
.corner-ribbon.sticky {
	position: fixed;
}
.corner-ribbon.shadow {
	box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}
/* Different positions */
.corner-ribbon.top-left {
	top: 25px;
	left: -50px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
.corner-ribbon.top-right {
	top: 25px;
	right: -50px;
	left: auto;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
.corner-ribbon.bottom-left {
	top: auto;
	bottom: 25px;
	left: -50px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
.corner-ribbon.bottom-right {
	top: auto;
	right: -50px;
	bottom: 25px;
	left: auto;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
/* Colors */
.corner-ribbon.white {
	background: #f0f0f0;
	color: #555;
}
.corner-ribbon.black {
	background: #333;
}
.corner-ribbon.grey {
	background: #999;
}
.corner-ribbon.blue {
	background: #39d;
}
.corner-ribbon.green {
	background: #2c7;
}
.corner-ribbon.turquoise {
	background: #1b9;
}
.corner-ribbon.purple {
	background: #95b;
}
.corner-ribbon.red {
	background: #e43;
}
.corner-ribbon.orange {
	background: #e82;
}
.corner-ribbon.yellow {
	background: #ec0;
}