@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200);

.font-raleway,
.font-raleway a,
.font-raleway h1,
.font-raleway h2,
.font-raleway h3,
.font-raleway h4,
.font-raleway h5,
.font-raleway h6,
.font-raleway p {
    font-family: 'Raleway' !important;
    font-weight: 100 !important;
}
