#cookieChoiceInfo {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #FFFFFF;
    font: 300 14px/24px "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12pt;
    left: 0px;
    bottom: 0px;
    border: 0px none;
    margin: 0px auto;
    padding: 8px 0px;
    text-align: center;
    z-index: 9999;
}

#cookieChoiceDismiss {
    background: #a8a8a8;
    display: inline-block;
    padding: 6px 15px 4px;
    color: #fff;
    border: 1px solid #fff;
    text-decoration: none;
    text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.25);
    position: relative;
    cursor: pointer;
    margin: auto 10px;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
}

#cookieChoiceInfo a:nth-child(2) {
    color: LightBlue;
    text-decoration: underline;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
}