/* with Appear Bottom Button {js: wAppearBottomButton.init()} */
.wabb {
    position: fixed;
    bottom: -150px;
    z-index: 999;
}
.wabb.right {
    right: 105px;
}
.wabb.left {
    left: 105px;
}
@media (max-width: 767px) {
    .wabb {
        bottom: 20px !important;
    }
    .wabb.right {
        right: 75px;
    }
    .wabb.left {
        left: 75px;
    }
}


/* with Appear Top Button {js: wAppearBottomButton.init()} */
.watb {
    position: fixed;
    top: -150px;
    z-index: 999;
}
.watb.right {
    right: 105px;
}
.watb.left {
    left: 105px;
}
@media (max-width: 767px) {
    .watb {
        top: 20px !important;
    }
    .watb.right {
        right: 75px;
    }
    .watb.left {
        left: 75px;
    }
}

