/* go2top {js: LayoutGo2Top.init()} */
.go2top {
    bottom: 40px;
    cursor: pointer;
    display: inline-block;
    position: fixed;
    right: 30px;
}
.go2top > i {
    color: #ced1d3;
    font-size: 43px;
    opacity: 0.5;
}