.w-sliding-btn.sliding-btn {
    bottom: 30px;
    cursor: pointer;
    display: inline-block;
    position: fixed;
    width: auto;
    color: #FFFFFF;
    font-size: 18px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.65);
    border-radius: 0 3px 3px 0;
    box-shadow: 1px 1px 3px #777777;
}
.w-sliding-btn.sliding-btn:hover {
    box-shadow: 1px 1px 4px #555555;
}
.w-sliding-btn.sliding-btn:focus {
    box-shadow: 0px 0px 1px #777777;
    left: -20px;
}
.w-sliding-btn.sliding-btn.left {
    left: 0px;
}
.w-sliding-btn.sliding-btn.right {
    right: 0px;
}

.w-sliding-panel.sliding-panel {
    position: fixed;
    left: -2000px;
    bottom: 0px;
}

.w-sliding-panel.sliding-panel .close-panel {
    top: -25px;
    left: 0px;
}